html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	/* background-color: #f6e7d8; */
	background-color: #f2f3f4;
	color: #222f3e;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	text-decoration: none;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
}